.corpo {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Opcional: Define a altura da tela inteira */
    background-color: white;
    color: blue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* ou outra altura desejada */
}

.form-control {
    width: 200px; /* largura desejada */
    height: 30px; /* altura desejada */
    font-size: 14px; /* tamanho da fonte desejado */
    margin-bottom: 10px; /* espaço entre os inputs */
}

.botao {
    background-color: blue;
   border-style: initial;
    width: 100px;
    text-align: center;
}

#n1 {
    border-color: blue;
    text-align: center;
    
}
#n2 {
    border-color: blue;
    text-align: center;
}

.limpe {
    border-style: initial;
    background-color: blue;
    width: 100px;
}













/* #n1 {

    background-color: rgba(255, 0, 0, 0.342);
}

#n2 {
    background-color: rgba(255, 0, 0, 0.342);
} */